body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: $bg-color;
  color: $text-color;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  @include transition(background-color 0.3s ease-in-out);
}
